:root {
  /*--Bckd: #1a1b26;*/
  --Bckd: #000000;
  --Light: #808080;
  /*--Middle: #42465d;*/
  --Text: #404040;
  --Middle: #202020;
  /*--Dark: #2c3044;*/
  --Dark: #101010;
  --PERMsStorm: #3974bb;
  --PERMdStorm: #245083;
  --PERMsMayhem: #f2bf39;
  --PERMdMayhem: #bb7224;
  --PERMsSoph: #349a8e;
  --PERMdSoph: #01504d;
  --PERMsMichael: #9d3d37;
  --PERMdMichael: #571c1b;
  --PERMsDev: #d36422;
  --PERMdDev: #bb3f03;
  --PERMsNova: #633e77;
  --PERMdNova: #211446;
  --PERMsPolice: #deafb1;
  --PERMdPolice: #c28485;
  --PERMsPoliticians: #5c7280;
  --PERMdPoliticians: #324554;
  --PERMsNazis: #71412a;
  --PERMdNazis: #381b0d;
  --PERMsSquatters: #8ba381;
  --PERMdSquatters: #5a734b;
  --PERMsActivists: #a36e94;
  --PERMdActivists: #704d66;
  --PERMsBand: #739a4e;
  --PERMdBand: #356032;
  --PERMsMedics: #dcdcdc;
  --PERMdMedics: #808080;


  --PERMsStorm: #3974bb;
  --PERMdStorm: #245083;
  --PERMsMayhem: #f2bf39;
  --PERMdMayhem: #bb7224;
  --PERMsSoph: #349a8e;
  --PERMdSoph: #01504d;
  --PERMsMichael: #9d3d37;
  --PERMdMichael: #571c1b;
  --PERMsDev: #d36422;
  --PERMdDev: #bb3f03;
  --PERMsNova: #633e77;
  --PERMdNova: #211446;
  --PERMsPolice: #deafb1;
  --PERMdPolice: #c28485;
  --PERMsPoliticians: #5c7280;
  --PERMdPoliticians: #324554;
  --PERMsNazis: #71412a;
  --PERMdNazis: #381b0d;
  --PERMsSquatters: #8ba381;
  --PERMdSquatters: #5a734b;
  --PERMsActivists: #a36e94;
  --PERMdActivists: #704d66;
  --PERMsBand: #739a4e;
  --PERMdBand: #356032;
  --PERMsMedics: #dcdcdc;
  --PERMdMedics: #808080;

}

body{
  background-color: var(--Bckd);
  font-family: /*"courier new", */monospace;
  color: var(--Text);
  margin: 0%;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--Light);
}

hr{
  border: none;
}

hr.a{
  height: 0.12rem;
  background-color: var(--Light);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr.b{
  height: 0.12rem;
  background-color: var(--Light);
  margin-bottom: 1rem;
}

h1{
  margin-bottom: 1rem;
  color: var(--Light);
  font-size: 2rem;
  border-bottom-style: solid;
  border-bottom-width: 0.12rem;
  border-bottom-color: var(--Light);
  padding-bottom: 0.38rem;
}

h2{
  color: var(--Light)
}

h3{
  color: var(--Light)
}

a{
  color: var(--Light)
}

a:hover{
  color: var(--Text)
}

.pageContent {
  font-size: 1.1rem;
  padding: 0% 2.5%;
  clear: both;
}

.fillsText, .filldText:hover {
  fill: var(--Light)
}

.filldText, .fillsText:hover {
  fill: var(--Text)
}

.button-0{
  background-color:var(--Light);
  color:var(--Bckd);
  border:none;
  padding:0.5rem 1rem;
  font-size:1.5rem;
  border-radius:5rem;
  cursor:pointer;
  font-family: monospace;
}

.button-0:hover{
  background-color: var(--Text);
}